* {
    font-size: 16px;
}

.header {
    background-color: rgb(60, 89, 150);
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}


.header__left {
    display: flex;
    justify-content: flex-end;
}
.header__left a{
    color: white;
    font-weight: 700;
}




.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__middle form {
    width: 60%;
}


.header__middle form div.form-group {
    margin: 0.3rem 0 0.3rem 0;
}

.header__middle input {
    margin: 0
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info .info__avatar img {
    max-height: 30px;
}

.info .info__name {
    color: white;
    padding-left: 10px;
}

.info .info__name a {
    color: white;
}

.header__right {
    color: white;
    display: flex;
    justify-content: space-around;
}

.header__right a {
    color: white;
}

main {
    background-color: #F8F8F8;
}

.sidebar .nav-link {
    color: #828282;
    font-weight: bold;
}
.sidebar .nav-link.active {
    color: #3C5999;
}


.feeds {
    background-color: #fff;
    height: 1000px;
    margin-top: 1.5rem;
}

.feeds .navigate-photo-album .nav-link {
    border: 0.5px solid #828282;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
    background-color: #fff;
    color: #3C5999;
    font-weight: bold;
    margin-top: 1.5rem;
}

.feeds .navigate-photo-album .nav-link.active {
    background-color: #3C5999 ;
    color: white;
}

.feeds .card {
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.feeds .card p {
    font-size: 12px;
}

.feeds .feed-photo {
    margin-top: 25px;
}



.feeds .card-info {
    display: flex;
    align-items: center;

}

.feeds .card-info .card-info__avatar img {
    max-height: 30px;
}

.feeds .card-info .card-info__name {
    padding-left: 10px;
}

.feeds .card-info .card-info__name a {
    color: #3C5999;
    font-weight: bold;
}


.feeds .card-footer__react__time {
    display: flex;
    justify-content: space-between;
}

.feeds .card-footer__react__time .like-count {
    display: flex;
    color: #3C5999;
    justify-content: center;
    align-items: center;
}

.feeds .card-footer__react__time .like-count .fa-heart {
    padding-right: 5px;
}

.feeds .card-footer__react__time .date-time {
    color: #BDBDBD;
}


.feeds .card {
    height: 100%;
    
}

.feeds .wrapper-feeds-photo .photo-images {
    position: relative;
}

.feeds .wrapper-feeds-photo .photo-images img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}




.feeds .wrapper-feeds-album .album-images {
    position: relative;

}

.feeds .wrapper-feeds-album .album-images img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 20px;
}










